@import "tailwindcss";

body {
  background: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
