@import "tailwindcss";

body {
  background: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}

/*map title*/
.heading {
  font-family: var(--font-map-title), cursive;
  color: #3b2f1a;
  text-align: center;
}

.body-text {
  font-family: var(--font-map-body), serif;
  font-size: 1rem;
  color: #3b2f1a;
  line-height: 1.6;
}

/*map name*/
.map-name {
  font-family: var(--font-map-body);
  color: #e9d1a2;
  text-transform: uppercase;
}

.map-title {
  font-family: var(--font-map-instruction);
  color: #3b2f1a;
}

.map-content {
  font-family: var(--font-map-content);
  color: #3b2f1a;
}
